body{
    font-family: 'Chillax', sans-serif;
    background-color: #004643;
    color: #f0ede5;
}
.heading{
    text-align: center;
}
.judul1{
    text-align: center;
    padding-top: 1%;
    /* Instagram Acc */
    color: #f0ede5;
}
/* Youtube */
.judul2{
    text-align: center;
    padding-top: 20%;
    color: #f0ede5;
}
a{
    color: #f0ede5;
    text-decoration: none;
    border-style: dashed;
    border-radius: 20%;
    padding: 10px;
}

